---
layout: special-index
blog_title: Ada Rose Edwards
title: Ada.is
---

<section class="home-posts">
  {% for post in site.posts %}
    <div class="home-posts_item">
	{% if post.link %}
    	<h1><a class="article-link" href="{{ post.link }}">{{ post.title }}</a> <span title="External Link" style="font-size: 80%; color: #aaa;">🔗</span></h1>
		<article><p>{{ post.description }}</p></article>
    	<time>{{ post.date | date_to_string }}</time>
	{% else %}
    	<h1><a class="article-link" href="{{ post.url }}">{{ post.title }}</a></h1>
		<article>{{ post.excerpt }}</article>
    	<time>{{ post.date | date_to_string }}</time>
	{% endif %}
    </div>
  {% endfor %}
</section>
