---
layout: special-index
blog_title: Ada Rose Edwards
title: Ada.is
---

<section class="home-posts">
  {% for post in site.posts %}
    <div class="home-posts_item">
	{% if post.link %}
    	<h2>{% if post.star %}<span class="star">&#9733;</span> {% endif %}<a class="article-link" href="{{ post.link }}" target="_blank" rel="noopener">{{ post.title }}</a> <span title="External Link" style="font-size: 80%; color: #aaa;">{% if post.external %}🔗 {{ post.external }} {% endif %}</span></h2>
			<article><p>{{ post.description }}</p></article>
    	<time>{{ post.date | date_to_string }}</time>
	{% else %}
		<h2>{% if post.star %}<span class="star">&#9733;</span> {% endif %}<a class="article-link" href="{{ post.url }}">{{ post.title }}</a></h2>
		<article>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</article>
		<time>{{ post.date | date_to_string }}</time>
	{% endif %}
    </div>
		{% assign loopindex = forloop.index | modulo: 3 %}
		{% if loopindex == 0 %}
		<input class="more-content" type="checkbox" id="toggle-{{ forloop.index }}" style="visibility: hidden;" checked />
		<label for="toggle-{{ forloop.index }}"></label>
		{% endif %}
  {% endfor %}
  <div class="home-posts_item">
		<h2>No more posts.</h2>
  </div>
</section>
