<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }} - {{ site.description}}</title>
	<meta http-equiv="cleartype" content="on" />
	<meta name="MobileOptimized" content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@AdaRoseCannon" />
	{% if page.author %}
	<meta name="description" content="{{ page.excerpt  | strip_html }}">
	<meta name="twitter:title" content="{{ page.title }} by {{ page.author }}" />
	<meta name="twitter:description" content="{{ page.excerpt  | strip_html }}" />
	<meta name="twitter:url" content="{{ page.url }}" />
	{% else %}
	<meta name="description" content="{{ site.description }}">
	<meta name="twitter:title" content="{{ site.name }}" />
	<meta name="twitter:description" content="{{ site.description}}" />
	<meta name="twitter:url" content="{{ page.url }}" />
	{% endif %}
	{% if page.image %}
	<meta name="twitter:image" content="{{ page.image }}">
	{% else %}
	<meta name="twitter:image" content="https://s.gravatar.com/avatar/e137ba0321f12ecb5340680815b42c26?s=400">
	{% endif %}
  <link rel="alternate" type="application/rss+xml" href="https://ada.is/feed">
	<link rel="icon" sizes="192x192" href="/launcher-icon-4x.png">
	<link rel="icon" sizes="400x400" href="https://s.gravatar.com/avatar/e137ba0321f12ecb5340680815b42c26?s=400">
	<link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800' rel='stylesheet' type='text/css'>
	<link rel="prefetch" href="/images/pattern.svg">
	<meta name="theme-color" content="#FFF0F5">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/syntax.css">
	{% if page.style %}
	<link rel="stylesheet" href="{{page.style}}">
	{% endif %}
	{% if page.styles %}
	{% for item in page.styles %}
	<link rel="stylesheet" href="{{item}}">
	{% endfor %}
	{% endif %}
	{% if page.script %}
	<script src="{{page.script}}"></script>
	{% endif %}
	{% if page.scripts %}
	{% for item in page.scripts %}
	<script src="{{ item }}"></script>
	{% endfor %}
	{% endif %}
</head>
