<h1 class="hero"><a href="{{ site.pageurl }}">{{ site.name }}</a></h1>
<h1 class="hero-subtitle">{{ site.description }}</h1>
<div style="font-size: 1.3em;">
	<a href="https://twitter.com/lady_ada_king"><span class="icon twitter">twitter</span></a>
	<a href="https://github.com/adaroseedwards"><span class="icon github">github</span></a>
	<a href="https://lanyrd.com/profile/lady_ada_king/"><span class="icon lanyrd">lanyrd</span></a>
	<a href="https://uk.linkedin.com/in/adarose"><span class="icon linkedin">linkedIn</span></a>
</div>