<head>
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.description }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="view-transition" content="same-origin">
	{% if page.author %}
	<meta name="description" content="{{ page.excerpt | strip_html }}">
	{% else %}
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title | default: site.name }}">
	<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html }}">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	{% if page.image %}
	<meta property="og:image" content="{{ page.image }}">
	{% elsif page.preview %}
	<meta property="og:image" content="{{ page.preview }}">
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="https://ada.is/feed">
	<link rel="icon" sizes="192x192" href="/launcher-icon-4x.png">
	<link href='https://fonts.googleapis.com' rel='preconnect'>
	<link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
	<link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' rel='stylesheet'>
	<link rel="prefetch" href="/images/pattern.svg">
	<meta name="theme-color" content="#FFF0F5">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/syntax.css">
	{% if page.style %}
	<link rel="stylesheet" href="{{ page.style }}">
	{% endif %}
	{% if page.styles %}
	{% for item in page.styles %}
	<link rel="stylesheet" href="{{ item }}">
	{% endfor %}
	{% endif %}
	{% if page.script %}
	<script src="{{ page.script }}"></script>
	{% endif %}
	{% if page.scripts %}
	{% for item in page.scripts %}
	<script src="{{ item }}"></script>
	{% endfor %}
	{% endif %}
</head>
