<!DOCTYPE html>
<html class="no-js">
{% include head.html %}

<body class="special">
	<div class="container">
		<div class="header row">
			{% include header.html %}
			<h1 class="page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
		</div>
		<div class="row body">
			<div class="by-box">
				<div class="head-hexagon">
					<div class="hexTop"></div>
					<div class="hexBottom"></div>
				</div>
				{% if page.title %}
				<h3>by {{ page.author }}<br /><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">@{{ site.author.twitter }}</a></h3>
				<time datetime="{{ page.date }}">{{ page.date | date: "%-d %B %Y"}}</time>
				{% endif %}
			</div>
			<div class="content-container">
				{{ content }}
				<div class="share-or-comment">
					{% include twitter.html %}
					<hr />
				</div>
			</div>
		</div>
		<div class="footer row">
			{% include footer.html %}
		</div>
	</div>
	{% include scripts.html %}
</body>

</html>
