<!DOCTYPE html>
<html class="no-js">
{% include head.html %}

<body class="special-index">
	<div class="container">
		<div class="icon-container">
			<a rel="me" href="https://twitter.com/AdaRoseCannon"><span class="icon twitter">twitter</span></a>
			<a rel="me" href="https://twitch.tv/AdaRoseCannon"><span class="icon twitch">Twitch</span></a>
			<a rel="me" href="https://github.com/adarosecannon"><span class="icon github">github</span></a>
			<a rel="me" href="https://uk.linkedin.com/in/adarose"><span class="icon linkedin">linkedIn</span></a>
			<a rel="me" href="https://glitch.com/@adarosecannon"><span class="icon glitch">glitch</span></a>
      		<a rel="me" href="https://mastodon.social/@ada" class="icon mastodon">Mastodon</a>
		</div>
		<div class="header row">
			{% include header.html %} {{ content }}
		</div>
	</div>
	{% include scripts.html %}
</body>

</html>
