---
---

@import "vars";
@import "ceaser-easing";
@import "hexagons";

/* @import "icons"; */

body, html {
	margin: 0;
	padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
}

* {
	box-sizing: border-box;
}

a {
	color: #428bca;
    text-decoration: none;
}

html, body, .container, .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 400;
	color: $font-color;
}


h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	clear: both;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.aspect-ratio-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;

	iframe, img, video {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0; top: 0;
	}
}

@import "speciallayout";
@import "helpers";
@import "syntax";
