---
---

@import "vars";
@import "ceaser-easing";
@import "hexagons";

body, html {
	margin: 0;
	padding: 0;
    font-size: 16px;
    line-height: 1.52857143;
}

* {
	box-sizing: border-box;
}

a {
	color: #428bca;
    text-decoration: none;
}

html, body, .container, .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 400;
	color: $font-color;
}

.container {
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;

	& > * {
		flex-shrink: 0;
	}
}


h1 {
	font-size: 2rem;
	margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	clear: both;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.aspect-ratio-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;

	iframe, img, video {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0; top: 0;
	}
}

.icon-container {
	white-space: nowrap;
    flex-grow: 1;
	flex-shrink: 0;
	font-size: 1.3em;
    height: 2.4em;
    text-align: left;
	padding-left: 0.5em;
	position: relative;
}

.profile-pic {
	font-size: 3rem;
	width: 5em;
	height: 5em;
	float: right;
	display: inline-block;
	transition: transform 1s ease;
	transform: scale(0.2, 0.2);
	transform-origin: 100% 0;
	background: url(https://s.gravatar.com/avatar/e137ba0321f12ecb5340680815b42c26?s=400);
	background-size: cover;
    margin-left: -4em;
    margin-bottom: -4em;
	border-radius: 1em;
	z-index: 3;
	position: relative;
	transition-delay: 1s;
	box-shadow: 0 0 1em 0.1em rgba(0,0,0,0.2);

	a:hover & {
		transform: translate(-0.5em, 0.5em);
		transition-delay: 0s;
	}
}

.icon {

	font-size: 0;
	margin: 0.1em 0.1em 0 0.1em;
	overflow: hidden;

	&:after {
		font-size: 3rem;
		width: 1em;
		height: 1em;
		background-position: center center;
		background-repeat: no-repeat;
		content: '';
		display: inline-block;
		-webkit-filter: invert(50%) sepia(5%) saturate(100) hue-rotate(181deg) brightness(157%) saturate(65%);
		filter: invert(50%) sepia(5%) saturate(100) hue-rotate(181deg) brightness(157%) saturate(65%);
	}

	&:hover:after {
		-webkit-filter: invert(50%) sepia(5%) saturate(100) hue-rotate(181deg) brightness(60%) saturate(64%);
		filter: invert(50%) sepia(5%) saturate(100) hue-rotate(181deg) brightness(60%) saturate(64%);
	}

	&.linkedin:after {
		background-image: url(icons/svg/linkedin.svg), url(icons/png/linkedin.png);
	}

	&.github:after {
		background-image: url(icons/svg/github.svg), url(icons/png/github.png);
	}

	&.twitter:after {
		background-image: url(icons/svg/twitter.svg), url(icons/png/twitter.png);
	}

	&.lanyrd:after {
		background-image: url(icons/svg/lanyrd.svg), url(icons/png/lanyrd.png);
	}
}

@import "speciallayout";
@import "helpers";
@import "syntax";
